@CHARSET "UTF-8";

#container {
   	min-height:100%;
   	position:relative;
   	margin: auto;
   	width: 1200px;
}

#header {
   	padding:10px;
   	/*border-bottom: 1px solid #DDDDDD;*/
	height: 120px;
	position: relative;
}

#main {
   	padding:10px;
   	padding-bottom:120px;   /* Height of the footer */
   	min-height: 500px;
}

* html #main { /*min-height: 500px;  min-height IE hack */
   height: expression( this.scrollHeight < 501 ? "500px" : "auto" ); /* sets min-height for IE */
}

#footer {
	position:absolute;
   	bottom:0;
   	width:100%;
   	height:120px;   /* Height of the footer */
   	/*border-top: 1px solid #DDDDDD;*/
   	z-index: -1;
}

#menu {
	position: absolute;
	bottom:0;
	right:0;
}

#breadcrumb {
	/*border-bottom: 1px solid #DDDDDD;*/
	height:60px;
	position: relative;   
}

#main-intro {
	position: relative;
	width: 90%;
	margin: auto;
	
}

.left-block {
	float:left;
	width: 25%;
	/*border-right: 1px solid #DDDDDD;*/
}
.right-block {
	width: 74%;
	float:left;
}

.menu-item {
	width: 20%;
	float:left;
}


