@CHARSET "UTF-8";

#container {
   	min-height:100%;
   	position:relative;
   	margin: auto;
   	width: 1200px;
}

#header {
   	padding:10px;
   	border-bottom: 1px solid #DDDDDD;
	height: 120px;
	position: relative;
}
#main {
   	padding:10px;
   	padding-bottom:60px;   /* Height of the footer */
}
#footer {
	position:absolute;
   	bottom:0;
   	width:100%;
   	height:60px;   /* Height of the footer */
   	border-top: 1px solid #DDDDDD;
}

#menu {
	position: absolute;
	bottom:0;
	right:0;
}

#breadcrumb {
	border-bottom: 1px solid #DDDDDD;
	height:60px;   
}

#main-intro {
	position: relative;
	width: 90%;
	margin: auto;
	
}

.left-block {
	float:left;
	width: 25%;
	border-right: 1px solid #DDDDDD;
}
.right-block {
	width: 74%;
	float:left;
}

.menu-item {
	width: 20%;
	float:left;
}


