@CHARSET "UTF-8";

/************************* Generics *******************************/

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 0.95em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset end*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	font-family: vag-family;
	border: 0 none;
    font-style: inherit;
    font-weight: inherit;
    outline: 0 none;
    color: #1b307e;
}

html,
body {
   	height:100%;
}

.clearfix {
    clear: both;
    margin: 0 auto;
    /*overflow: hidden;*/
    padding: 0;
    position: relative;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

img, a img {
    border: medium none;
    display: inline-block;
    /*height: auto;*/
    image-rendering: optimizequality;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

a, a:hover, a:active {
	text-decoration:none;
	color: inherit;
}

.sms-notice {
	display:none;
}

/************************* Generics final *******************************/

#logo h1 {
    display: block;
    text-indent: -999em;
    position: fixed;
}

#logo img {
	width: 265px;
}

#main-contact img {
	width: 35%;
}

/************************* Menu *******************************/

.menu-item-link {
 	/*height:40px;*/
 	display:block;
 	background:transparent url('/images/menu-item.png') left top no-repeat;
 	/*background-size:70% 30px;*/
 	
 	background-size:contain;
 	
 	
 	height:40px;
 	width: 129px;


	color: #ffffff;
	font-weight: bold;
	font-size: 0.95em;
	padding-top: 6px;
    text-indent: 5px;
    
}


@media screen and (-webkit-min-device-pixel-ratio:0) {  
	.menu-item-link {
		padding-top: 8px;
	}
}

.menu-item-link:hover,
.menu-item-active {
	background:transparent url('/images/menu-item-active.png') left top no-repeat;
	/*background-size:74% 39px;*/
	
	
 	background-size:contain;
 	/*height:35px;*/
 	width: 137px;
	color: #ffffff;	
	
	
	/*background-size:158px 45px;*/
	/*color: #009fee;*/
	/*color: #7fcff6;*/ 
}

.menu-item-ie8lte {
 	background:transparent url('/images/menu-item-thin.png') right top no-repeat;
}

.menu-item-ie8lte:hover,
.menu-item-ie8lte-active {
 	background:transparent url('/images/menu-item-active-thin.png') right top no-repeat;
 	width: 137px;
}



#admin-connection {
	position: absolute;
	top: 0px;
	right: 60px;
}

/************************* Forms *******************************/

.form-container {
	font-weight: bold;
	font-size: 0.8em;
}

form label {
	display: block;
	float: left;
	margin-top: 5px;
}

form input,
form textarea,
form select {
	width: 50%;
	margin-bottom: 10px;
	padding: 2px 0;
}

form input.submit-form {
	width: inherit;
}

form .form-row {
	padding-bottom: 10px;
}

form input.submit-form {
 	height:40px;
 	display: block;
 	background:transparent url('/images/menu-item.png') right top no-repeat;
 	background-size:150px 30px;
 	color: #FFFFFF;
    text-indent: 5px;
    font-weight: bold;
    border: medium none;
    padding-bottom: 18px;
    padding-right: 30px;
    font-family: vag-family;
}

form input.submit-form:hover {
	color: #7fcff6; 
}

form input.submit-form-ie8lte {
 	background:transparent url('/images/menu-item-thin.png') right top no-repeat;
}

form input.submit-form-ie8lte:hover {
 	background:transparent url('/images/menu-item-active-thin.png') right top no-repeat;
}


/************************* Forms final *******************************/

/************************* Contact *******************************/

#contact-text {
	width: 45%;
	margin-bottom: 10px;
}

#contact-text p, 
#contact-text h3 {
	margin-bottom: 10px;
	line-height: normal;
}


#contact form {
	width: 100%;
}

#contact form label {
	width: 65px;
}

#contact h3 {
	color: #009fed;
	font-size: 1.5em;
}

.anotacio {
	font-size: 0.7em;
	font-weight: normal;
}

/************************* Contact final *******************************/

/************************* Form Login / Usuari  *******************************/

#login form label,
#usuari form label {
	min-width: 125px;
	width: 10%;
}


/************************* Form Login Final  *******************************/

/************************* Forms categoria / Producte *******************************/

#categoria form label,
#producte form label {
	min-width: 150px;
	width: 10%;
}

* html #categoria form label,
* html #producte form label { /*min-width: 1500px;  min-width IE hack */
   height: expression( this.scrollWidth < 151 ? "150px" : "auto" ); /* sets min-width for IE */
}

.galeria-upload {
	position: relative;
	float:left;
}

#producte .galeria-upload {
	width: 80%;
}

#portada-producte-item {
	position: relative;
	float:left;
}

.border-highlight-blue {
	/*outline: 1px solid #7fcff6;*/
	-webkit-box-shadow: 0px 0px 2px 2px #7fcff6; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: 0px 0px 2px 2px #7fcff6; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

.image-portada {
	/*margin:1px;*/
}

.image-portada img {
	cursor: pointer;
}

.box-center-txt {
	width: 131px;
	height: 100px;
	vertical-align: middle;
	text-align: center; 
	display: table-cell; 
	border: 1px solid #dddddd;
	cursor: pointer;
}

#categoria_imatge,
#producte_imatges {
	display:none;
}

.image-upload {
	display: inline-block;
	margin-right: 15px;
	/*margin-bottom: 10px;*/
}
/*
.image-preview img {
	border: 1px solid #dddddd;
	height: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
}*/

.image-preview {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-right: 15px;
	padding-bottom: 10px;
}

.image-preview img {
	outline: 1px solid #dddddd;
	height: 100px;
}

.image-uploaded img {
	outline: 1px solid #fe0002;
	height: 100px;
	margin-right: 2px;
	
	
}

.help-text {
	font-style: italic;
    font-weight: normal;
}

.image-producte .ui-icon {
	display:none;
	position:absolute;
	right: 0;
	top: 0;
}

.hover_caption {
	background-image: url("/images/hover_caption_bg.png");
    margin-right: 10px;
}


/************************* Form categoria / Producte  final *******************************/


/************************* Menu final *******************************/

#introsprite {
    /*background: url("/images/sprite01.png") no-repeat scroll 0 0 transparent;*/
    /*cursor: pointer;*/
    width: 600px;
    height: 450px;
    position: relative;
    /*margin: auto;*/
    z-index: 2000;
    /*border: 1px solid #DDDDDD;*/
}

#skip-intro {
	font-size: 0.8em;
	font-weight: normal;
	float:right;
	color: #FFFFFF;
}

.text-bloc {
    font-size: 1.15em;
    line-height: 1.6em;
    width: 80%;
    /*text-align: justify;*/
    
}
.text-bloc p {
	margin: 0;
}

.text-bloc ul {
	padding: 0 15px;
	margin:0px;	
	line-height: 1.4em;
	list-style: disc outside none;
}

/************************* Breadcumb *******************************/

.category-item {
	display:inline-block;
} 


.category-item a {
	/*float: left;*/
	/*margin-bottom: 10px;*/
 	/*width: 160px;*/
 	display: block;
 	height:20px;
 	background:transparent url('/images/category-item.png') right top no-repeat;
 	/*background-size:150px 35px;*/
 	background-size:400px 23px;
	font-weight: bold;
	padding-top: 8px;
	padding-right: 20px;
	text-indent: 5px;
    font-size: 0.8em;
    width: auto;
}

@-moz-document url-prefix() {
	.category-item a {
		padding-top: 6px;
	}
}

.category-item h3 {
	color: #FFFFFF;
}

.category-item a:hover {
	color: #1b307e;
}

.admin-action {
	float: right;
	width: 20%;
}

.admin-action a {
	color: #FFFFFF;
	padding-right: 0px;
	width: 70%;
}

/************************* Breadcumb final *******************************/

/************************* Cataleg *******************************/

#list-cataleg {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


#list-cataleg li {
    float: left;
    color: #000000;
    height: 160px;
    margin: 3px;
    padding: 1px;
    text-align: center;
    width: 13%;
    position: relative;
   	padding: 0 40px 10px 12px;
}

#list-cataleg li .cataleg-nom {
	height: 40px;
} 

#list-cataleg li div {
	color: #000000;
	margin: 0px;
}

#list-cataleg li img {
}

.cataleg-img-alta {
	height: 100%;
	
}

.cataleg-img-ample {
	width: 100%;
}

.admin-actions {
	display:none;
	position:absolute;
	right: 0;
	top:-15px;
}

.cataleg-imatge {
	height: 120px;
	display: block;   
	margin-left: auto;   
	margin-right: auto; 
}

.cataleg-imatge img {
	display:none;
}

.imatge-cell {
	vertical-align: middle;
	text-align: center; 
	display: table-cell; 
}

.hover-cataleg-item {
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}

.noimage-available {
	width: 1%;
	height: 120px;
	vertical-align: middle;
	text-align: center; 
	display: table-cell; 
	cursor: pointer;
}

#dialog-confirm,
.ui-dialog-titlebar, .ui-dialog-buttonpane  {
	font-weight: normal;
	font-size: 0.8em;
	font-style: normal;
}

/************************* Cataleg final *******************************/

/************************* Producte *******************************/

.producte-detalls {
	padding-top: 30px;
}

#producte-nom {
	font-weight: bold;
    font-size: 1.2em;
    line-height: 20px;
    padding-bottom: 20px;	
}

.producte-titol {
	font-weight: bold;
	font-size: 0.9em;
	padding-bottom: 7px;	
}

.producte-detall {
	font-size: 0.85em;
	color: #565193;
	padding-bottom: 15px;
	line-height: 20px;
}

#producte-imatge-portada {
	/*width: 100%;
	margin: 0;
	position: relative;*/
}


.imatge-hcenter img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#producte-imatges {
	width: 70%;
    margin-left: auto;
    margin-right: auto;

	/*height: 200px;*/
}

.producte-imatge {
	width: 32%;
	float: left;
	
	/*display: inline-block;*/
    /*padding-bottom: 10px;
    padding-right: 15px;
    position: relative;*/
}

.producte-imatge img {
    /*height: 100px;*/
}

/************************* Producte final *******************************/

/************************* Footer *******************************/


#social-block {
	padding-left:5px;
}

#social-icons img {
	width: 30px;
}

#facebook-like {
	padding-bottom:5px;
} 


/************************* Footer final *******************************/
