<!DOCTYPE html>
<!--[if lte IE 8]>    <html lang="es" class="ie8lte"> <![endif]-->
<!--[if gt IE 8]> <!--> 
<html lang="es"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="{% block meta_description %}{% endblock %}" name="description">
		<meta content="{% block meta_keywords %}regalos, empresa, marketing directo, consultoria, 
		producción, almacenaje, entrega, promoción, comercialización, producto, grupo planeta{% endblock %}" name="keywords">
		<meta content="7 days" name="revisit-after">
		<meta content="{% block meta_robots %}index, follow{% endblock %}" name="robots">
		<meta content="Copyright © 2013 Promoquality" name="copyright">
		<meta content="version 1.0" name="version">
		<meta content="OnDisseny Web. Alex Macia" name="author">
        
        <title>{% block title %}Promoquality - Consultora y Promociones de Marketing Directo{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		<!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >
        {% block javascriptshead %}{% endblock %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-37414954-6', 'promoquality.com');
	  ga('send', 'pageview');

	</script>
    </head>
    <body>
    	<div id="container">
	   		<section id="header">{% block header %}{% endblock %}</section>
	   		<section id="main">{% block main %}{% endblock %}</section>
			<section id="footer">{% block footer %}{% endblock %}</section>
		</div>
		<div class="mask"></div>
		<div id="banner-popup" class="finestra-overlay">{% block banner %}{% endblock %}</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
